<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form action="/qcap" method="post">
 <input type="button" name="performance" value="获取系统性能信息" >
    <input type="submit" id="submit" value="提交数据">
</form>
</body>
</html>